$TEAL_WAGTAIL_358C8B: #358c8b;

$FONT_SYSTEM_SANS: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  Helvetica, Arial, sans-serif;
$FONT_SYSTEM_MONO: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
  Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;

$BODY_FONT_SIZE: 1rem;
$INTRO_FONT_SIZE: 1.5rem;
$H1_FONT_SIZE: 3.5rem;

$GREY_333333: #333;

$BREAKPOINT_480: 480px;
$BREAKPOINT_768: 768px;
